.container {
    background-color: #eee;
    width: 1000px;
    margin: 30px auto;

    display: grid;
    grid-template-rows: 150px 150px; /* Sets 1st row to 150px and 2nd row to 150px*/
    grid-template-columns: 150px 150px 150px; /* Sets 1st, 2nd and 3rd column to 150px*/
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    /* grid-gap: 30px; => puts both row and column gap to 30px */
}

.item {
    padding: 20px;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
}

.item--1 {
    background-color: orange;
}

.item--2 {
    background-color: green;
}

.item--3 {
    background-color: violet;
}

.item--4 {
    background-color: pink;
}

.item--5 {
    background-color: blue;
}

.item--6 {
    background-color: brown;
}