html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;  /* 1 rem = 10px, 10px/16px = 62.5% */
}

/* ------------------------------------------------------- */
/*              METHOD 1: Line Numbers                     */
/* ------------------------------------------------------- */
/* Select all children of the body */
/* .body > * {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: sans-serif;
}

.body {
    width: 70%;
    height: 60rem;
    margin: 3rem auto;

    display: grid;
    grid-template-rows: 5rem repeat(3, 1fr) 5rem;
    grid-template-columns: repeat(3, 1fr) 15rem;;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}

.main {
    grid-row: 3 / 5;
    grid-column: 1 / span 3;
}

.sidebar {
    grid-row: 2 / span 3;
    grid-column: -2 / -1;
}

.footer {
    grid-row: -2 / -1;
    grid-column: 1 / 5;;
} */

/* ------------------------------------------------------- */
/*              METHOD 2: Line Names                       */
/* ------------------------------------------------------- */

.body {
    width: 1000px;
    margin: 30px auto;
     display: grid;
     grid-template-rows: [header-start] 100px 
                         [header-end box-start] 200px 
                         [box-end main-start] 400px 
                         [main-end footer-start] 100px
                         [footer-end];
     grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
     grid-gap: 30px;
}

.body > * {
    background-color: red;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
}

.header {
    grid-column: col-start 1 / grid-end;
}

.sidebar {
    grid-column: col-end 3 / grid-end;
    grid-row: box-start / main-end;
}

.main {
    grid-column: col-start 1 / col-end 3;
}

.footer {
    grid-column: col-start 1 / grid-end;
}